@import url('https://fonts.cdnfonts.com/css/super-mario-256');

:root {
    --blue-color: color(srgb 0.0434 0.6092 0.8443);
    --yellow-color: color(srgb 0.9796 0.8134 0.0189);
    --green-color: color(srgb 0.269 0.6874 0.2921);
    --red-color: color(srgb 0.8955 0.1645 0.1514);

    --first-animation-delay: 0s;
    --second-animation-delay: 1s;
    --third-animation-delay: 1.5s;
    --fourth-animation-delay: 2s;
    --fifth-animation-delay: 2.5s;

    --type-animation-duration: 2.5s;
    --type-part-1-delay: var(--third-animation-delay);
    --type-part-2-delay: calc(var(--type-animation-duration) + var(--type-part-1-delay));

    --type-container-delay: calc(var(--type-animation-duration) + var(--type-part-2-delay));
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@media (orientation: landscape) {
    section {
      display: none !important;
    }

    #vertical_message {
        display: block !important;
        height: 100dvh;
    }
}

@media (orientation: portrait) {
    #vertical_message {
        display: none !important;
    }
}

#vertical_message .start_container {
    display: flex;
    flex-direction: row;
}

#vertical_message .character {
    height: 100%;
}

#vertical_message .character .start_message {
    text-align: right;
}

#vertical_message .start_message {
    padding: 1rem;
}

body {
    font-family: 'Super Mario 256', sans-serif;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;

    color: white;
    -webkit-text-stroke: .25vh black;

    background-color: black;
    overflow: hidden;
}

section {
    height: inherit;
    width: inherit;

    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    scroll-snap-align: start;
    z-index: 1;
    position: absolute;
}

section:nth-child(2) {
    background: green;
    background: radial-gradient(circle, black 0%, green 50%, black 100%);
}

section:nth-child(3) {
    background-color: yellow;
    background: radial-gradient(circle, black 0%, yellow 50%, black 100%);
}

section:nth-child(4) {
    background-color: blue;
    background: radial-gradient(circle, black 0%, blue 50%, black 100%);
}

section:nth-child(5) {
    background-color: red;
    background: radial-gradient(circle, black 0%, red 50%, black 100%);
}

section:nth-child(6) {
    background-color: red;
    background: radial-gradient(circle, blue 0%, green 50%, red 100%);
}

section img {
    width: inherit;
    height: inherit;
    position: absolute;
    object-fit: cover;
    object-position: center;
}

.overlay {
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: rgba(0,0,0,.1);
}

.pre_title {
    font-size: 10vh;
    text-align: center;
    animation-delay: var(--second-animation-delay);

    display: flex;
}

.title {
    font-size: 15vh;
    text-align: center;
    animation-delay: var(--third-animation-delay);
    margin: 1rem;
 
    flex: 1;
    display: flex;
    text-decoration: none;
}

section:nth-child(6) .title {
    font-size: 12vh;
}

section:not(:first-child) .title {
    animation-delay: var(--first-animation-delay);
}

.letter {
    -webkit-text-stroke: 1vh black;
    text-shadow: 1vh 1vh 0 black;
    z-index: 1;
}

div.letter.letter_yellow, .letter:nth-child(4n) {
    color: var(--yellow-color);
}

div.letter.letter_blue, .letter:nth-child(4n+1) {
    color: var(--blue-color);
}

div.letter.letter_green, .letter:nth-child(4n+2) {
    color: var(--green-color);
}

div.letter.letter_red, .letter:nth-child(4n+3) {
    color: var(--red-color);
}

.title_container {
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.m_logo {
    width: 50vh;
    height: 50vh;
    object-fit: cover;
    object-position: center;
    padding: 1rem;
    
    position: absolute;
    top: 20%;
    
    -webkit-filter: drop-shadow(.5rem .5rem 0 black);
    filter: drop-shadow(.5rem .5rem 0 black);
}

.number {
    font-size: 30vh;
    text-align: center;
    animation-delay: var(--fourth-animation-delay);
}

.animate__animated.animate__paused, .animate__paused {
    animation-play-state: paused;
}

.start_section {
    background-color: black;
    z-index: 2;
}

.start_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.star_img {
    width: min(50vw, 50vh);
    height: auto;
    position: relative;
    animation-iteration-count: infinite;

    -webkit-filter: drop-shadow(.5rem .5rem .5rem var(--yellow-color));
    filter: drop-shadow(.5rem .5rem .5rem var(--yellow-color));
}

.start_message {
    margin-top: 2rem;
    color: white;
    font-size: 2rem;
    text-align: center;
    letter-spacing: .2rem;
    -webkit-text-stroke: .25vh blue;
    animation-iteration-count: infinite;

    text-shadow: .25vh .25vh var(--blue-color);
}

.dialog__container {
    width: 90%;
    padding: 1rem;
    margin: 1rem;
    background: black;
    border: 3px solid white;

    position: fixed;
    bottom: 0;
}

.dialog__container.animate__pulse {
    animation-delay: var(--type-container-delay);
    animation-iteration-count: infinite;
}

.dialog {
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
    
    text-shadow: 1px 1px darkgray;
    letter-spacing: 1px;
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .15rem;
    border-right: .15rem solid orange;
    animation: typing var(--type-animation-duration) steps(20, end) forwards,
    blink-caret 1s step-end forwards;
    animation-delay: var(--type-part-1-delay);
    opacity: 0;
}

.typewriter.part_2 {
    animation-delay: var(--type-part-2-delay);
}
  
@keyframes typing {
    from { width: 0; opacity: 1; }
    to { width: 100%; opacity: 1; }
}

@keyframes blink-caret {
    from, to { border-color: transparent;}
    50% { border-color: orange;}
}

.character {
    width: auto;
    height: 50vh;

    animation-delay: var(--second-animation-delay);
    filter: drop-shadow(5px 5px 5px black);
}

.character.luigi, .character.peach {
    width: auto;
    height: 75vh;
}

#options {
    justify-content: flex-end;
    gap: 0;
}

.options__container {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.options__container img {
    position: relative;
}

.pipe_container > div {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.op_character {
    width: auto;
    height: 20vh;
    position: relative;
    object-fit: contain;
}

.op_character.character_yes {
    height: 25vh;
}

.pipe_container:nth-child(2) {
    position: relative;
    bottom: -5vh;
}

.pipe {
    width: auto;
    height: 30vh;
    object-fit: contain;
}

#options .title {
    width: 100%;
    position: absolute;
    bottom: 10vh;
    display: flex;
    justify-content: center;

    font-size: 10vh;
    cursor: pointer;
    margin: 0;
}

.pipe_container > div {
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.pipe_container:first-child > div {
    animation-delay: 1s;
}

.header {
    width: 100%;
    color: black;
    font-size: 1.5rem;
    flex: 1;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin-top: 2rem;
}

.map {
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    text-decoration: none;
    text-align: center;

    margin: 1rem;
    padding: 1rem;

    background-color: var(--red-color);
    border-radius: 2rem;
    box-shadow: 5px 5px 0 black;

}

.map img {
    width: 10vw;
    height: auto;

    position: relative;
}

.back {
    flex: 1;
    color: lightgray;
    padding: 2rem;

    margin: 1rem;
    padding: 1rem;

    background-color: var(--blue-color);
    border-radius: 2rem;
    box-shadow: 5px 5px 0 black;
}

.header .animate__pulse {
    animation-iteration-count: infinite;
}